In [1]:
import pandas as pd

In [2]:
# from nsepy import get_history as gh
import datetime as dt

In [3]:
# start = dt.datetime(2013,6,1)
# end = dt.datetime(2022,2,11)
# stk_data = gh(symbol='TATACOFFEE',start=start,end=end)

In [4]:
from NSEDownload import stocks
# from datetime import datetime
stk_data = stocks.get_data(stock_symbol="TATACOFFEE", start_date='1-6-2013', end_date='1-11-2022')

In [7]:
# stk_data = pd.read_csv("stock_data.csv")
stk_data=stk_data[["Open Price","High Price","Low Price","Close Price"]]

In [8]:
#column="Close"

In [9]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data)
print("Len:",data1.shape)

Len: (2393, 4)

In [10]:
data1=pd.DataFrame(data1,columns=["Open Price","High Price","Low Price","Close Price"])

In [11]:
training_size = round(len(data1 ) * 0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

1914
X_train length: (1914, 4)
X_test length: (479, 4)
y_train length: (1914, 4)
y_test length: (479, 4)

In [12]:
import warnings
warnings.filterwarnings("ignore")

In [13]:
performance={"Model":[],"RMSE":[],"MaPe":[],"Lag":[],"Test":[]}

In [18]:
listt=["Close Price","High Price","Open Price","Low Price"]

In [19]:
listt

['Close Price', 'High Price', 'Open Price', 'Low Price']

In [20]:
data1

      Open Price  High Price  Low Price  Close Price
0       1.000000    1.000000   1.000000     1.000000
1       0.996183    0.992387   0.984549     0.989929
2       0.991495    0.989649   0.992444     0.995573
3       0.985770    0.993055   0.994138     0.994153
4       0.981450    0.984374   0.988039     0.989186
...          ...         ...        ...          ...
2388    0.112168    0.111953   0.113645     0.112876
2389    0.112168    0.112688   0.113679     0.113282
2390    0.112871    0.111586   0.113035     0.111997
2391    0.111565    0.111419   0.113170     0.113282
2392    0.112235    0.112855   0.114356     0.114464

[2393 rows x 4 columns]

In [21]:
datasetTwo=data1[listt]

In [22]:
datasetTwo

      Close Price  High Price  Open Price  Low Price
0        1.000000    1.000000    1.000000   1.000000
1        0.989929    0.992387    0.996183   0.984549
2        0.995573    0.989649    0.991495   0.992444
3        0.994153    0.993055    0.985770   0.994138
4        0.989186    0.984374    0.981450   0.988039
...           ...         ...         ...        ...
2388     0.112876    0.111953    0.112168   0.113645
2389     0.113282    0.112688    0.112168   0.113679
2390     0.111997    0.111586    0.112871   0.113035
2391     0.113282    0.111419    0.111565   0.113170
2392     0.114464    0.112855    0.112235   0.114356

[2393 rows x 4 columns]

In [23]:
test_obs = 28

In [24]:
train =datasetTwo[:-test_obs]
test = datasetTwo[-test_obs:]

In [25]:
train

      Close Price  High Price  Open Price  Low Price
0        1.000000    1.000000    1.000000   1.000000
1        0.989929    0.992387    0.996183   0.984549
2        0.995573    0.989649    0.991495   0.992444
3        0.994153    0.993055    0.985770   0.994138
4        0.989186    0.984374    0.981450   0.988039
...           ...         ...         ...        ...
2360     0.128388    0.130417    0.127101   0.128486
2361     0.126766    0.127279    0.127972   0.126690
2362     0.120412    0.124841    0.125661   0.120625
2363     0.118182    0.118731    0.120070   0.118795
2364     0.120379    0.119599    0.116922   0.119202

[2365 rows x 4 columns]

In [26]:
test

      Close Price  High Price  Open Price  Low Price
2365     0.120277    0.119232    0.120003   0.120184
2366     0.119196    0.118598    0.119065   0.118965
2367     0.115985    0.117462    0.118730   0.116660
2368     0.114836    0.113523    0.114244   0.112628
2369     0.118216    0.116394    0.115047   0.116084
2370     0.116830    0.116494    0.116922   0.117067
2371     0.117033    0.116628    0.117257   0.117745
2372     0.118587    0.116728    0.115583   0.116762
2373     0.115106    0.116227    0.116922   0.115237
2374     0.115918    0.114891    0.114880   0.116491
2375     0.117810    0.116427    0.115884   0.117406
2376     0.116593    0.116260    0.117525   0.117236
2377     0.113146    0.113556    0.114846   0.114018
2378     0.110308    0.111753    0.112837   0.110189
2379     0.112234    0.110551    0.109355   0.110426
2380     0.112268    0.110518    0.111833   0.111544
2381     0.111186    0.111853    0.111565   0.112154
2382     0.112437    0.111119    0.110159   0.111713
2383     0.113991    0.112922    0.114244   0.114085
2384     0.111930    0.112354    0.112569   0.112662
2385     0.112977    0.111018    0.111498   0.111341
2386     0.111524    0.112154    0.112268   0.111917
2387     0.113146    0.111786    0.112067   0.113170
2388     0.112876    0.111953    0.112168   0.113645
2389     0.113282    0.112688    0.112168   0.113679
2390     0.111997    0.111586    0.112871   0.113035
2391     0.113282    0.111419    0.111565   0.113170
2392     0.114464    0.112855    0.112235   0.114356

In [27]:
from statsmodels.tsa.api import VAR
for i in [1,2,3,4,5,6,7,8,9,10]:
    model = VAR(train)
    results = model.fit(i)
    print('Order =', i)
    print('AIC: ', results.aic)
    print('BIC: ', results.bic)
    print()

Order = 1
AIC:  -42.34498608158102
BIC:  -42.296186501390444

Order = 2
AIC:  -42.36259939092901
BIC:  -42.27472941971499

Order = 3
AIC:  -42.36571329501595
BIC:  -42.238745586365916

Order = 4
AIC:  -42.37370393795882
BIC:  -42.20761111435788

Order = 5
AIC:  -42.39758426616225
BIC:  -42.1923389189446

Order = 6
AIC:  -42.528619408252624
BIC:  -42.28419409755285

Order = 7
AIC:  -42.615087149227136
BIC:  -42.331454403931424

Order = 8
AIC:  -42.62353183826908
BIC:  -42.30066415596634

Order = 9
AIC:  -42.64248538196218
BIC:  -42.28035522889504

Order = 10
AIC:  -42.67958670759091
BIC:  -42.27816651860667

In [28]:
x = model.select_order(maxlags=12)

In [29]:
x

In [30]:
order=x.selected_orders["aic"]

In [31]:
order

11

In [32]:
result = model.fit(order)

In [33]:
result

In [34]:
lagged_Values = train.values[-order:]

In [35]:
lagged_Values

array([[0.13065225, 0.13001669, 0.13028193, 0.13153526],
       [0.12615749, 0.12954925, 0.1299471 , 0.1257412 ],
       [0.12767827, 0.12554257, 0.12643139, 0.1271643 ],
       [0.12865833, 0.12808013, 0.12730195, 0.12882459],
       [0.12865833, 0.12808013, 0.12730195, 0.12882459],
       [0.1309564 , 0.12891486, 0.12773723, 0.12994274],
       [0.12838797, 0.13041736, 0.12710105, 0.12848575],
       [0.1267658 , 0.1272788 , 0.12797161, 0.12668993],
       [0.1204123 , 0.1248414 , 0.12566129, 0.12062481],
       [0.11818182, 0.11873122, 0.12006964, 0.11879511],
       [0.12037851, 0.11959933, 0.11692225, 0.11920171]])

In [36]:
pred = result.forecast(y=lagged_Values,steps=28)

In [37]:
pred

array([[0.1217878 , 0.1217821 , 0.12073247, 0.12150167],
       [0.12220853, 0.12232084, 0.12110624, 0.12167262],
       [0.12227584, 0.12203179, 0.12027382, 0.12177288],
       [0.12175208, 0.12191634, 0.1212719 , 0.12126583],
       [0.12166122, 0.12182199, 0.12081381, 0.12075866],
       [0.12130974, 0.12216011, 0.12157467, 0.12054079],
       [0.12118984, 0.12149157, 0.11994382, 0.12023713],
       [0.12099209, 0.12178954, 0.12032233, 0.12001349],
       [0.12049676, 0.12109819, 0.11994586, 0.11989216],
       [0.12045952, 0.12062075, 0.11931826, 0.11987907],
       [0.12018002, 0.12047168, 0.11934933, 0.11958077],
       [0.11988477, 0.12010654, 0.11905328, 0.11940553],
       [0.11940371, 0.1199006 , 0.11900521, 0.11878203],
       [0.11914656, 0.11958084, 0.11840421, 0.11849824],
       [0.11890996, 0.11941917, 0.11817504, 0.11812012],
       [0.11881241, 0.1193398 , 0.11809522, 0.11810748],
       [0.11878408, 0.11914904, 0.11794829, 0.11813324],
       [0.11860543, 0.11903868, 0.1178624 , 0.11795342],
       [0.11847957, 0.11879904, 0.11769885, 0.11788121],
       [0.11822629, 0.11863916, 0.11760803, 0.11759483],
       [0.11799319, 0.1183877 , 0.11728805, 0.11735043],
       [0.11771588, 0.11815115, 0.11703459, 0.11702129],
       [0.11750466, 0.11794974, 0.11678597, 0.11682735],
       [0.11733004, 0.11774261, 0.11659463, 0.11666469],
       [0.11715166, 0.11756083, 0.11641032, 0.11649538],
       [0.11699656, 0.11736312, 0.1162549 , 0.11637149],
       [0.11680248, 0.1171878 , 0.11610516, 0.11617195],
       [0.11660885, 0.11699269, 0.11590364, 0.11598147]])

In [35]:
preds=pd.DataFrame(pred,columns=listt)
preds.to_csv("varforecasted_{}.csv".format(test_obs))
from sklearn.metrics import mean_squared_error
rmse= round(mean_squared_error(test,pred,squared=False))
from sklearn.metrics import mean_absolute_percentage_error
mape=mean_absolute_percentage_error(test,pred)
performance["Model"].append(listt)
performance["RMSE"].append(rmse)
performance["MaPe"].append(mape)
performance["Lag"].append(order)
performance["Test"].append(test_obs)
perf=pd.DataFrame(performance)

In [36]:
perf

                                              Model  RMSE     MaPe  Lag  Test
0  [Close Price, High Price, Open Price, Low Price]     0  0.04286   11    28

In [38]:
def combination(dataset,listt):
    print(listt)
    datasetTwo=dataset[listt]
    test_obs = 28
    train =datasetTwo[:-test_obs]
    test = datasetTwo[-test_obs:]
    from statsmodels.tsa.api import VAR
    for i in [1,2,3,4,5,6,7,8,9,10]:
        model = VAR(train)
        results = model.fit(i)
        print('Order =', i)
        print('AIC: ', results.aic)
        print('BIC: ', results.bic)
        print()
    x = model.select_order(maxlags=12)
    order=x.selected_orders["aic"]
    result = model.fit(order)
    #result.summary()
    lagged_Values = train.values[-order:]
    pred = result.forecast(y=lagged_Values,steps=28) 
    preds=pd.DataFrame(pred,columns=listt)
    preds.to_csv("varforecasted_{}.csv".format(test_obs))
    from sklearn.metrics import mean_squared_error
    rmse= round(mean_squared_error(test,pred,squared=False))
    from sklearn.metrics import mean_absolute_percentage_error
    mape=mean_absolute_percentage_error(test,pred)
    performance["Model"].append(listt)
    performance["RMSE"].append(rmse)
    performance["MaPe"].append(mape)
    performance["Lag"].append(order)
    performance["Test"].append(test_obs)
    perf=pd.DataFrame(performance)
    return perf,result,pred

In [39]:

#listt=["AQI_calculated","PM10","PM2.5","NOx","NO2","NO","NH3","SO2","CO",'year']

In [40]:
perf,result,pred=combination(data1,listt)

['Close Price', 'High Price', 'Open Price', 'Low Price']
Order = 1
AIC:  -42.34498608158102
BIC:  -42.296186501390444

Order = 2
AIC:  -42.36259939092901
BIC:  -42.27472941971499

Order = 3
AIC:  -42.36571329501595
BIC:  -42.238745586365916

Order = 4
AIC:  -42.37370393795882
BIC:  -42.20761111435788

Order = 5
AIC:  -42.39758426616225
BIC:  -42.1923389189446

Order = 6
AIC:  -42.528619408252624
BIC:  -42.28419409755285

Order = 7
AIC:  -42.615087149227136
BIC:  -42.331454403931424

Order = 8
AIC:  -42.62353183826908
BIC:  -42.30066415596634

Order = 9
AIC:  -42.64248538196218
BIC:  -42.28035522889504

Order = 10
AIC:  -42.67958670759091
BIC:  -42.27816651860667

In [41]:
data1

      Open Price  High Price  Low Price  Close Price
0       1.000000    1.000000   1.000000     1.000000
1       0.996183    0.992387   0.984549     0.989929
2       0.991495    0.989649   0.992444     0.995573
3       0.985770    0.993055   0.994138     0.994153
4       0.981450    0.984374   0.988039     0.989186
...          ...         ...        ...          ...
2388    0.112168    0.111953   0.113645     0.112876
2389    0.112168    0.112688   0.113679     0.113282
2390    0.112871    0.111586   0.113035     0.111997
2391    0.111565    0.111419   0.113170     0.113282
2392    0.112235    0.112855   0.114356     0.114464

[2393 rows x 4 columns]

In [42]:
perf

                                              Model  RMSE     MaPe  Lag  Test
0  [Close Price, High Price, Open Price, Low Price]     0  0.04286   11    28